@charset "utf-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
a {
	color: #333;
	text-decoration: none;
}
h3 {
	font-weight: normal;
}

button {
	border: 0;
	outline: 0;
	background: none;
}
.slide-left-enter-active,
.slide-right-enter-active {
	transition: all .2s ease-out;
}
.slide-left-leave-active,
.slide-right-leave-active {
	transition: all .2s ease-out;
}
.slide-left-enter,
.slide-right-leave-to {
	transform: translateX(100%)
}
.slide-right-enter,
.slide-left-leave-to {
	transform: translateX(-100%)
}